@model IEnumerable<CourseRegistrationApp.Models.Courses>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.C_CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_CourseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_CourseDescrip)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.C_CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C_CourseNumber)
            </td>
            <td>
                <span style="cursor:pointer">
                    @Html.DisplayFor(modelItem => item.C_CourseName)
                </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C_CourseDescrip)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
