@model IEnumerable<CourseRegistrationApp.ModelsDto.CourseDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.C_CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_CourseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_CourseDescrip)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.C_CourseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C_CourseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C_CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C_CourseDescrip)
                </td>
                <td>
                    <a href="#"
                          data-toggle="modal" 
                          data-target="#exampleModal" 
                          onclick="addStudents(@item.C_CourseId, '@item.C_CourseName')">
                    Add Student
                    </a> |
                    @Html.ActionLink("Edit", "Edit", new { id = item.C_CourseId }) |
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.C_CourseId })
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<script>

    @*function showStudents(id, name) {
        console.log(id);

        $.get("@Url.Action("GetStudentsByCourse", "Courses")/" + id,
            function (data) {
                $("#exampleModalLabel").html("Students of " + name + " Course");
                $(".modal-body").html(data)
                console.log(data.html );
            }
        );
    }*@

    function addStudents(id, name) {
        const url = "@Url.Action("GetStudentsByCourseId", "Courses")/" + id;
        $.get(url, function (data) {
            console.log(data);
            console.log(name);
            $("#exampleModalLabel").html("List of Students for " + name)
            $(".modal-body").html(data)
        })
    }
</script>